@use "./variables.scss" as *;

// put your custom CSS here!
blockquote {
  padding-left: 1rem;
}

.breadcrumb-container {
  margin-bottom: 0.5rem;
}
.note-properties .note-properties-separator {
  margin-inline-end: 0.2rem;
}
a.tag-link,
a.internal-link {
  line-height: 1.8;
  background-color: #c2baf04d !important;
}
.content-meta {
  margin: 0.5rem auto 1rem;
  font-size: 0.8rem;
}

.section > .tags {
  padding-inline-start: 0;
}
.tags > li {
  list-style: none;
  display: inline-block;
  margin: 0 0.2rem;
  background-color: transparent;
}
.markdown-rendered {
  strong {
    cursor: inherit;
  }
}

// 폴더 페이지에 글 목록 컴포넌트
li.section-li > .section {
  grid-template-columns: 10em 1fr 1fr;
}

// 컨텐츠 상세페이지 - 상단 테그 출력 부분
.note-properties .note-properties-tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
